.parrafo1{
  background: purple;
  width: 360px;
  height: 50px;
}
.parrafo2{
  background: maroon;
  width: 80%;
  height: 50px;
}
.parrafo3{
  background: green;
  font-size: 16px;
  width: 20cm;
  height: 80px;
}
.kyoto{
  width: 220px;
  height: 380px;
}
